/* =====================================
   VARIABLES
   ===================================== */
   :root {
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Lato', sans-serif;
    --bg-primary: #e6f2f8;
    --text-primary: #333;
    --shadow-primary: 0px 4px 12px rgba(0, 0, 0, 0.1);
    --header-bg: #04181f;
    --nav-link-bg: #1d4e89;
    --section-border-color: #1d4e89;
    --footer-bg: #333;
}

/* =====================================
   BASE STYLES & RESETS
   ===================================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--font-primary);
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-size: 18px;
    line-height: 1.7;
    overflow-x: hidden;
    padding: 20px;
}

/* =====================================
   GLOBAL COMPONENTS
   ===================================== */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: #ffffff;
    box-shadow: var(--shadow-primary);
    border-radius: 10px;
}

/* =====================================
   HEADER
   ===================================== */
header {
    background-color: var(--header-bg);
    background-image: url('../images/background-image.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    color: #636363;
    text-align: center;
    padding: 70px 0;
}

header h1 {
    font-size: 3.5em;
    font-family: var(--font-secondary);
    font-weight: bold;
    margin-bottom: 20px;
}

/* =====================================
   NAVIGATION
   ===================================== */
nav {
    margin-top: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    color: #fffeff;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 25px;
    background-color: var(--nav-link-bg);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    background-color: #274c6d;
    transform: scale(1.05);
}

/* =====================================
   MAIN CONTENT
   ===================================== */
section {
    padding: 80px 0;
}

section h2 {
    font-size: 2.5em;
    border-bottom: 3px solid var(--section-border-color);
    padding-bottom: 15px;
    margin-bottom: 40px;
}

section p, section ul {
    margin-top: 30px;
}

section ul li {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 700;
}

/* =====================================
   FOOTER
   ===================================== */
footer {
    background-color: var(--footer-bg);
    color: #545454;
    text-align: center;
    padding: 30px 0;
}

footer p {
    font-size: 16px;
}
